

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
  max-width:100%;
  overflow-x:hidden;
}
*{
  box-sizing:border-box;
}
html, body {
  margin: 0;
  padding: 0;
}

nav .container-fluid, .row{
  max-width: 1300px;
  margin:auto;
}
.main-banner img{
  width:100%;
  /*max-width: 1300px;*/
  margin:auto;
}
.slider {
  width: 100%;
   margin: 20px auto;
}
.slide{
  width:25%;
}

.slick-slide {
  margin: 0px 10px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}
@media (min-width: 768px) {
  body {
    padding-top: 70px !important;
  }
  .site-logo {
    font-size: 22px;
    padding: 7px 10px;
    margin-right: 20px;
  }
  .site-logo .sub-text {
    font-size: 12px;
  }
}
.fixed-header {
  background: #D22A63;
  border: none;
}

body{
  padding-top: 50px;
  max-width: 100%;
}
.site-logo {
    color: #fff;
    text-align:center;
    text-transform: uppercase;
    font-weight: 700;
}
.register-form {
  margin: auto;
}
.form-group {
  padding: 0 10px;
}
.form-group .normal{
    height: 40px;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 12px;
    width: 160px;
}
.fieldset {
  float:left;
  background: #3F51B5;
  padding: 15px 20px 10px;
  position:relative;
}
.fieldset:before {
 content: " ";
 height: 100%;
 position: absolute;
 left: -20px;
 top:0px;
 right: auto;
 font-size: 0px;
 line-height: 0%;
 border-bottom: 63px solid #3F51B5;
 border-left: 20px solid transparent;
 z-index: -1;
}

.fieldset:after {
 content: " ";
 height: 100%;
 position: absolute;
 right: -20px;
 left: auto;
 bottom: 0px;
 font-size: 0px;
 line-height: 0%;
 border-top: 63px solid #3F51B5;
 border-right: 20px solid transparent;
 z-index: -1;
}
.navbar-form .comment {
  width: 300px;
}
.btn-submit {
  border: none;
  background: transparent;
  box-shadow: none;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 20px;
  padding-left: 30px;
}

.btn-submit:hover {
  border: none;
  background: transparent;
  box-shadow: none;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
}
.section-1 {
  padding-top: 20px;
}
.section-1 .main-text {
    padding: 100px 20px;
    font-size: 18px;
}
.text-block {
  padding-left: 50px;
}
.text-block:last-child {
  padding-right: 50px;
}

.text-block p {
  font-size: 16px;
}
.text-block p span{
  font-size: 16px;
  font-weight: 700;
}
.question-btn {
  font-size: 23px;
  text-align: center;
  margin: 10px;
  padding: 10px 30px;
  font-weight: 700;
}
.section-2, .section-3 {
  background: #f1e686;
  padding-top: 30px;
  margin: 3px auto 0 auto;
}
.section-3 {
  padding-bottom: 30px;
}
.section-4 .column {
  height: 120px;
  font-size: 23px;
  text-align: left;
  padding: 25px 0;
  background: #a55941;
  color: #fff;
  padding-left: 30px;
}
.section-4 .column.box-1 {
  border-right: 2px solid #fff;
  padding-left: 75px;
}
.section-4 .column.box-2 {
  font-size: 20px;
}

footer {
  background: #a55941;
  color: #fff;
  background-color: #42A5F5;
  text-align: center;
  font-size: 17px;
}
footer .column {
  height: 75px;
}

footer .column.box-1 {
  border-right: 2px solid #fff;
  margin: 15px 0px;
}
footer .column.box-1 .contact-no {
  padding: 10px;
}

footer .column.box-1 .contact-mail {
  padding: 10px;
  text-align: left;
}

footer .column.box-2 {
  font-size: 32px;
  padding: 30px;
}
